{% extends 'base.html' %}
{% block style %}
<style>
  .menu-links-1, .menu-links-2, .menu-links-3, .menu-links-4{
    color: black;
  }
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }

  .selected-movie{
    transition: all 0.2s linear;
    z-index: 1;
  }
  .selected-movie:hover{
    transform: scale(1.02);
    z-index: 2;
  }
  @media screen and (max-width: 768px) {
    .convert-img-size {
      max-width: 18rem;
    }
  }
  @media screen and (min-width: 768px) {
    .convert-img-size {
      
    }
  }
</style>
{% endblock style %}
{% block content %}
<div class="row">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img class="mt-5" src={% if person.profile.image %}"{{ person.profile.image.url }}"{% else %}""{% endif %} style="border-radius: 20%; max-width: 20rem" alt="user-img">
    <br>
    <h5>{{ person.username }}</h5>

    <h2>
      {% if person.username == user.username %}
      <a href="{% url 'accounts:profile' person.username %}"><button class="btn btn-primary">프로필 편집</button></a>
      {% endif %}
      <!-- 다음 포스트에 프로필 편집 페이지를 구성할 것이다. -->
    </h2>
  </div>
      

</div>
{% comment %}  런드리 무비 {% endcomment %}
<h3>{{ user.username }}님의 런드리무비</h3>
<div class="row d-flex justify-content-center">
  {% for review in user.review_set.all %}
  <div class="d-flex col-6 col-sm-4 col-md-3 col-lg-3 selected-movie">
    <a class="convert-img-size text-reset text-decoration-none" href="{% url 'community:detail_review' review.pk %}">
      <img class="img-fluid mx-2 my-2" style="" src="https://image.tmdb.org/t/p/original/{{ review.movie.poster_path }}">
    </a>
  </div>
  {% endfor %}
</div>





    







{% comment %} 댓글 {% endcomment %}
<hr>
<h3>{{ user.username }}님이 작성한 댓글</h3>
<br>
{% for comment in user.comment_set.all %}
  <p>▶ {{ comment.content }}</p>
{% endfor %}

{% endblock content %}

{% block script %}
{% endblock script %}