{% extends 'base.html' %}
{% block style %}
<style>
  .menu-links-1, .menu-links-2, .menu-links-3, .menu-links-4{
    color: black;
  }
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
  .selected-movie{
    transition: all 0.2s linear;
    z-index:1;
  }
  .selected-movie:hover{
    transform: scale(1.02);
    z-index:2;
  }
  @media screen and (max-width: 768px) {
    .card-img-top {
      width: 100%;
      height: 60vw;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 992px){
    .card-img-top {
      width: 100%;
      height: 26vw;
      object-fit: cover;
    }
  }
</style>
{% endblock style %}
{% block content %}
<div class="row">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img class="mt-5" src={% if person.profile.image %}"{{ person.profile.image.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} style="border-radius: 20%; max-width: 20rem" alt="user-img">
    <br>
    <h5>{{ person.username }}</h5>
  </div>
</div>
{% if person.username == user.username %}
<div class="mb-2 text-center">
  <a href="{% url 'accounts:profile' person.username %}" class="button-57 text-center w-50" role="button" style="max-width:300px;"><span><i class="fa-solid fa-address-card fa-2xl"></i></span><span class="text">프로필 편집</span></a>
</div>
{% endif %}


{% comment %}  런드리 무비 {% endcomment %}
<h3>{{ user.username }} 님의 런드리무비</h3>
<div class="" id="show-movies">
  <div class="row mx-auto" id="create-or-delete">
  {% for review in user.review_set.all %}
  <div class="mb-4 col-6 col-sm-6 col-md-4 col-lg-3">
    <a href="{% url 'community:detail_review' review.pk %}">
      <img class="selected-movie img-fluid card-img-top" src="https://image.tmdb.org/t/p/original/{{review.movie.poster_path}}">
    </a>
  </div>
  {% endfor %}
  </div>
</div>


{% comment %} 댓글 {% endcomment %}
<hr>
<h3>{{ user.username }} 님이 작성한 댓글</h3>
<br>
{% for comment in user.comment_set.all %}
  <p><i class="fa-solid fa-comment-dots"> {{ comment.content }}</i></p>
{% endfor %}

{% endblock content %}

{% block script %}
{% endblock script %}