{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
	.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
  }

  .selected-movie{
    transition: all 0.2s linear;
    z-index: 1;
  }
  .selected-movie:hover{
    transform: scale(1.2);
    z-index: 2;
  }
  .menu-links-3{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-4{
    color: black;
  }
</style>
{% endblock style %}



{% block content %}

	<div class="row d-flex justify-content-center">

		{% comment %} 세탁후기 사진? {% endcomment %}
		<div>
			<h1 class="text-center my-5">세탁 후기</h1>
		</div>

		{% comment %} 카드 반복구간 {% endcomment %}
		{% for review in reviews %}
		<div class="card col-12 col-sm-4 col-md-3 col-lg-2 mx-1 my-1 selected-movie">
			<a class="text-reset text-decoration-none" href="{% url 'community:detail_review' review.pk %}">
				<img class="img-fluid card-img-top" src="https://image.tmdb.org/t/p/original/{{review.movie.poster_path}}">
				<div class="card-body">
                    <p class="card-title">{{ review.title }}</p>
					<small class="card-text">{{ review.content }}</small>
				</div>

				<div class="card-footer">
					<small class="text-muted">{{review.user}} - {{ review.created_at }}</small>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>

{% comment %}
<p>{{ review.movie_id }}</p>
<p>작성자 : {{ review.user }}</p>
<p>글 번호: {{ review.pk }}</p>  
<p>글 제목: {{ review.title }}</p>
<p>글 내용: {{ review.content }}</p>
<a href="{% url 'community:detail_review' review.pk%}">DETAIL</a>
{% endcomment %} 


    <!-- 페이징처리 시작 -->
    <div id="paging">
    <ul class="pagination justify-content-center" style="margin-top: 2rem;">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
            <!-- href로 뎁스 설정 -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number == page_obj.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    </div>
    <!-- 페이징처리 끝 -->
{% endblock content %}

{% block script %}
{% endblock script %}