{% extends 'base.html' %}
{% block style %}
<style>
  .crop-img {
    object-fit: cover;
  }
  .menu-links-3{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-4{
    color: black;
  }
</style>
{% endblock style %}
{% block content %}

<a href="{% url 'movies:movie_detail' movie.id %}">
  <div class="card">
  <img class="selected-movie img-fluid crop-img" style="max-height:10rem; width:100%;" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
    <div class="card-img-overlay">
      <h5 class="card-title text-white">{{ movie.title }}</h5>
    </div>
  </div>
</a>

<h3>{{ review.title }}</h3>
<p>{{ review.created_at }}</p>
<p>평점: {{ review.rank }}</p>
<p>후기: {{ review.content }}</p>
<hr>



{% comment %} 리뷰 삭제 {% endcomment %}
{% if user.username == review.user.username %}
<div class="delete-review">
  <form action="{% url 'community:delete_review' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="리뷰 삭제 버튼">
  </form>
</div>
{% endif %}



<h4>코멘트</h4>
{% if comments|length %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% endif %}

{% for comment in comments %}
<div class="d-flex">
  {{ comment.user }} - {{ comment.content }}

  {% comment %} 댓글 삭제 {% endcomment %}
  {% if user.username == comment.user.username %}
  <div class="delete-comment">
    <form action="{% url 'community:delete_comment' comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="댓글 삭제 버튼">
    </form>
  </div>
  {% endif %}

</div>


{% empty %}
  <p><b>아름다운 댓글을 달아주세요! :)</b></p>
{% endfor %}


<hr>
{% if request.user.is_authenticated %}
  <form action="{% url 'community:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>


{% else %}
<a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}
<a href="{% url 'community:reviews' %}">[back]</a>

  
  
{% endblock  %}
{% block script %}
{% endblock script %}