{% extends 'base.html' %}
{% block style %}
<style>
  .crop-img {
    object-fit: cover;
  }
  .menu-links-3{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-4{
    color: black;
  }
  .fa-trash-can:hover{
    color:red;
  }
  label{
    display:none;
  }
  .img-a { bottom: 52%; }
	.img-a:hover img{
		transform: scale(1.02);
	  transition: transform 0.5s;
	  filter: brightness(70%);
	}
  .title-text{
    visibility: hidden;
    font-size: 5rem;
  }
  .img-a:hover .title-text{
    visibility: visible;
  }

  {% comment %} 별점 {% endcomment %}
  .star-rating {
    display: flex;
    flex-direction: row-reverse;
    line-height: 2rem;
    font-size: 1.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
  }
  .checked{
    -webkit-text-fill-color: #F9D923;
  }
</style>
{% endblock style %}
{% block content %}

{% comment %} 이미지 {% endcomment %}
<a href="{% url 'movies:movie_detail' movie.id %}" class="img-a">
  <div class="card">
    <img class="selected-movie img-fluid crop-img" style="max-height:30rem; width:100%;" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
    <div class="card-img-overlay d-flex justify-content-center align-items-center">
      <h5 class="card-title title-text text-white">{{ movie.title }}</h5>
    </div>
  </div>
</a>


{% comment %} 제목 {% endcomment %}
<br>
<div>
  <h3 class="fs-1">{{ review.title }}</h3>
  <div class="">

    {% comment %}  별점 {% endcomment %}
    <div class="star-rating mt-3">
      {% if review.rank == 1 %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star checked"></span>
      {% elif  review.rank == 2 %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      {% elif  review.rank == 3 %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      {% elif  review.rank == 4 %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      {% else %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      {% endif %}
    </div>
    <p class="mt-4 fs-4">후기: {{ review.content }}</p>
    <p>{{ review.created_at }}</p>
  </div>
</div>

{% comment %} 리뷰 수정 or 삭제 {% endcomment %}
{% if user.username == review.user.username %}
<div class="d-flex">
  <div class="update-review">
    <form action="{% url 'community:update_review' review.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit" style="width:100%; max-width:120px;" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-wrench fa-xl"></i></span><span>리뷰 수정</span></button>
    </form>
  </div>


  <div class="delete-review">
    <form class="delete-form" action="{% url 'community:delete_review' review.pk %}" method="POST" onsubmit="return doSubmit()">
      {% csrf_token %}
      <button style="width:100%; max-width:120px;" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-trash fa-xl"></i></span><span>리뷰 삭제</span></button>
    </form>
  </div>

</div>
{% endif %}
<hr>

<br>

<h4>댓글</h4>
{% if comments|length %}
  <p class="comments_length"><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% endif %}
  {% for comment in comments %}
  <div class="d-flex comments">
    <p class="comment">{{ comment.user }} - {{ comment.content }}</p>

    {% comment %} 댓글 삭제 {% endcomment %}
    {% if user.username == comment.user.username %}
    <div class="delete-comment">
      <form id="delete-form" data-id="{{ comment.pk }}">
        {% csrf_token %}
        <button style="box-shadow:none; border:0; background-color:#fff;" type="sumbit"><i class="fa-solid fa-trash-can"></i></button>
      </form>
    </div>
    {% endif %}
  </div>

{% empty %}
  <p>아름다운 댓글을 달아주세요! :)</p>
{% endfor %}

<hr>
<h4>댓글 작성</h4>
{% if request.user.is_authenticated %}
{% comment %} <form id="create-form" data-id="{{ review.pk }}"> {% endcomment %}
  <form action="{% url 'community:create_comment' review.pk %}" method="post">
    
    {% csrf_token %}
    {{ comment_form }}
  <div class="d-flex">
    <button style="max-width" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-comment fa-xl"></i></span><span>댓글 작성</span></button>
  </form>
    {% else %}
      <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    {% endif %}
  </div>
<hr>
  <a style="" href="{% url 'community:reviews' %}" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-arrow-left fa-xl"></i></span><span>뒤로</span></a>
  
  
{% endblock  %}
{% block script %}
<script>
  const deleteForms = document.querySelectorAll('#delete-form')
  const createForm = document.querySelector('#create-form')
  
  // 정말 삭제?
  function doSubmit() {
    if (!confirm('정말 지우시겠습니까?')) { return false }
    else { return true }
  }
  
  
  /*
  // 댓글 실시간 추가 - 구현 실패
  createForm.addEventListener('submit', e => {
    e.preventDefault()
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const reviewId = e.target.dataset.id
    console.log(reviewId)
    axios({
      method: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      url:`http://127.0.0.1:8000/community/${reviewId}/comments/create/`,
    })
      .then(res => {
        console.log(res)
        //const outerDiv = document.querySelector('.comments')
        //const newP = document.createElement('p')
        //newP.setAttribute('class', 'comment')
        //console.log(newP)
        //newP.innerText = `comment.user - comment.content`
        //outerDiv.appendChild(newP)
        console.log(res.data.left_count)
      })
      .catch(err => {
        console.error(err)
      })
  })
  
*/
  
  // 댓글 실시간 삭제
  deleteForms.forEach(deleteForm => {
    deleteForm.addEventListener('submit', e => {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      e.preventDefault()
      const commentId = e.target.dataset.id
      axios({
        method: 'delete',
        headers: {'X-CSRFToken': csrftoken},
        url:`http://127.0.0.1:8000/community/${commentId}/comment/delete/ `,
      })
        .then(res => {
          const checkDelete = document.querySelectorAll('.comment')
          const commentLength = document.querySelector('.comments_length')
          const leftCount = res.data.left_count

          // 댓글 삭제
          const form = e.target
          const p = form.parentNode
          const div = p.parentNode
          div.remove()
          console.log(leftCount)
          if (leftCount) {
            commentLength.innerText = `${leftCount}개의 댓글이 있습니다.`
          } else {
            commentLength.innerText = '아름다운 댓글을 달아주세요! :)'
          }
        })
        .catch(err => {
          console.error(err)
        })
      
    })
  })
</script>
{% endblock script %}