{% extends 'base.html' %}
{% block style %}
<style>
  .crop-img {
    object-fit: cover;
  }
  .menu-links-3{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-4{
    color: black;
  }
  .fa-trash-can:hover{
    color:red;
  }
  label{
    display:none;
  }
</style>
{% endblock style %}
{% block content %}

<a href="{% url 'movies:movie_detail' movie.id %}">
  <div class="card">
  <img class="selected-movie img-fluid crop-img" style="max-height:20rem; width:100%;" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
    <div class="card-img-overlay">
      <h5 class="card-title text-white">{{ movie.title }}</h5>
    </div>
  </div>
</a>

<br>
<div>
  <h3>제목: {{ review.title }}</h3>
  <div class="ms-3">
    <p>평점: {{ review.rank }}</p>
    <p>후기: {{ review.content }}</p>
    <p>생성시간: {{ review.created_at }}</p>
  </div>
</div>
<hr>

{% comment %} 리뷰 삭제 {% endcomment %}
{% if user.username == review.user.username %}
<div class="delete-review">
  <form action="{% url 'community:delete_review' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="리뷰 삭제 버튼">
  </form>
</div>
{% endif %}



<h4>코멘트</h4>
{% if comments|length %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% endif %}

<div>
{% for comment in comments %}
<div class="d-flex">
  <p class="comment">{{ comment.user }} - {{ comment.content }}</p>

  {% comment %} 댓글 삭제 {% endcomment %}
  {% if user.username == comment.user.username %}
  <div class="delete-comment">
    <form action="{% url 'community:delete_comment' comment.pk %}" method="POST">
      {% csrf_token %}
      <button style="box-shadow:none; border:0; background-color:#fff;" type="sumbit"><i class="fa-solid fa-trash-can"></i></button>
    </form>
  </div>
  {% endif %}
</div>


{% empty %}
  <p><b>아름다운 댓글을 달아주세요! :)</b></p>
{% endfor %}


<hr>

<h4>댓글 작성</h4>
{% if request.user.is_authenticated %}
  <form action="{% url 'community:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <br>

<div class="d-flex">
    <button style="" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-comment fa-2xl"></i></span><span>댓글 작성</span></button>
  </form>
  {% else %}
  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a style="" href="{% url 'community:reviews' %}" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-backward fa-2xl"></i></span><span>뒤로</span></a>
</div>
  
  
{% endblock  %}
{% block script %}
{% endblock script %}