{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .card-img-top {
      width: 100%;
      height: 28vw;
      object-fit: cover;
    }
    .selected-movie{
      transition: all 0.2s linear;
      z-index: 1;
    }
    .selected-movie:hover{
      transform: scale(1.2);
      z-index: 2;
    }
    .menu-links-1{
      active: true;
    }
    .menu-links-2, .menu-links-3, .menu-links-4{
      color: black;
    }
</style>
{% endblock style %}
{% block content %}
<h1 class="text-center my-5">추천 영화</h1>


<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="2500">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.0.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.0.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img1">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.1.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.1.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img2">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.2.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.2.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img3">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.3.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.3.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img4">
          </a>
        </div>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="2000">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.4.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.4.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img5">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.5.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.5.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img6">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.6.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.6.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img7">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.7.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.7.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img8">
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.8.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.8.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img9">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.9.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.9.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img10">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.10.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.10.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img11">
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="{% url 'movies:movie_detail' highscore_serializer.11.id %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.11.poster_path }}" class="card-img-top img-fluid selected-movie" alt="movie-img12">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
<br>
{% comment %} 게시판!!! {% endcomment %}
<div class="board mt-5">
  <h1 class="text-center my-5">최근 게시글</h1>
  {% if reviews %}
    {% for review in reviews %}
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="text-decoration-none ms-1" href="{% url 'community:detail_review' review.pk %}">{{ review.title }}</a>
          <span class="badge bg-primary rounded-pill">{{ review.comment_set.count }}</span>
        </li>
      </ul>
    {% endfor %}
  {% else %}
  <p>작성된 게시글이 없습니다.</p>
  {% endif %}
</div>
<br>
{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}
