{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-flex">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.0.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.1.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.2.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.3.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="d-flex">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.4.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.5.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.6.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.7.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.8.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.9.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.10.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.11.poster_path }}" class="card-img-top" alt="movie-img">
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>


{% comment %}  Table {% endcomment %}
<table class="table table-hover">
  <tr>
    <th>
      s
    </th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr><td>d</td></tr>
  <tr><td>g</td></tr>
</table>
{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}