{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .card-img-top {
      width: 100%;
      height: 30vw;
      object-fit: cover;
    }
    .selected-movie{
      transition: all 0.2s linear;
    }
    .selected-movie:hover{
      transform: scale(1.08);
    }

</style>
{% endblock style %}
{% block content %}
<h1 class="text-center my-5">추천 영화</h1>
<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.0.poster_path }}" class="card-img-top img-fluid" alt="movie-img1">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.1.poster_path }}" class="card-img-top img-fluid" alt="movie-img2">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.2.poster_path }}" class="card-img-top img-fluid" alt="movie-img3">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.3.poster_path }}" class="card-img-top img-fluid" alt="movie-img4">
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.4.poster_path }}" class="card-img-top img-fluid" alt="movie-img5">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.5.poster_path }}" class="card-img-top img-fluid" alt="movie-img6">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.6.poster_path }}" class="card-img-top img-fluid" alt="movie-img7">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.7.poster_path }}" class="card-img-top img-fluid" alt="movie-img8">
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.8.poster_path }}" class="card-img-top img-fluid" alt="movie-img9">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.9.poster_path }}" class="card-img-top img-fluid" alt="movie-img10">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.10.poster_path }}" class="card-img-top img-fluid" alt="movie-img11">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500/{{ highscore_serializer.11.poster_path }}" class="card-img-top img-fluid" alt="movie-img12">
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>


{% comment %} 게시판!!! {% endcomment %}

<div style="height:280px;">
  <table class="board">
      <thead>
          <tr class="header">
              <th style="width:10%;">순번</th>
              <th style="width:60%">제목</th>
              <th style="width:30%">작성일자</th>
          </tr>
      </thead>
      <tbody>
      {% if reviews %}
          {% for data in reviews %}
          <tr>
              <td style="text-align:center;">{{ forloop.counter }}</td>
              <td>
                  <a href="">
                      {{ data.title }}
                  </a>
              </td>
              <td>{{ data.created_at|date:'Y-m-d' }}</td>
          </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td>작성된 게시글이 없습니다.</td>
          </tr>
      {% endif %}
      </tbody>
  </table>
</div>

{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}
