{% extends 'base.html' %}
{% block style %}
<style>
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }

  .selected-movie{
    transition: all 0.2s linear;
    z-index: 1;
  }
  .selected-movie:hover{
    transform: scale(1.3);
    z-index: 2;
  }

  .menu-links-1, .menu-links-2, .menu-links-3, .menu-links-4{
    color: black;
  }
</style>
{% endblock style %}

{% block content %}

  <div class="card mb-3 mt-5">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center">
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
      </div>
      <div class="col-lg-8">
        <div class="card-body">

          <div class="d-flex">
            <h3 class="card-title mt-1 mb-4 me-2">{{ movie.title }}</h3>
            <form id="like-form" data-id="{{ movie.id }}">
              {% csrf_token %}
              {% if user.pk in movie.like_users %}
                <button class="btn btn-link" id="like-{{ movie.id }}" style="box-shadow:none;"><span id="heart-{{ movie.id }}" style="color: red;"><i class="fa-solid fa-thumbs-up fa-xl"></i></span></button>
              {% else %}
                <button class="btn btn-link" id="like-{{ movie.id }}" style="box-shadow:none;"><span id="heart-{{ movie.id }}" style="color: black;"><i class="fa-solid fa-thumbs-up fa-xl"></i></span></button>
              
              {% endif %}
            </form>
            <span class="my-auto mt-1" id="like-count-{{ movie.id }}">{{ movie.like_users|length }}</span>
          </div>

          <div class="d-flex mx-auto mb-4">
            <p class="my-auto fs-5 text-muted me-5">개봉</p>
            <p class="my-auto card-title">{{ movie.release_date }}</p>

            <p class="my-auto fs-5 text-muted ms-5 me-3">평점</p>
            <p class="my-auto fs-5 card-title">{{ movie.vote_average }}</p>

          </div>

          <div class="d-flex mb-4">
            <p class="my-auto fs-5 text-muted me-5">장르</p>
            <p class="my-auto me-3">
              {% for a in movie.genres %}{{ a.name }} {% endfor %}
            </p>
            <p class="my-auto fs-5 text-muted ">러닝타임:</p>
            <p class="my-auto card-title">{{ movie.runtime }}</p>
          </div>

          <div>
            <p class="fs-5 text-muted card-text mb-4">줄거리</p>
            <p class="card-text">{{ movie.overview }}</p>
          </div>
        </div>

        {% comment %} 리뷰 쓰기!!! -> 버튼 눌렀을 시 community create로 이동 {% endcomment %}
        <div class="mb-2 ms-3 text-center">
          <a style="width:100%; max-width:20rem;" href="{% url 'community:create_review' movie.id %}" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-pen-to-square fa-xl"></i></span><span>리뷰 쓰기</span></a>
        </div>

      </div>
    </div>
  </div>
  <div>


  </div>

  <div class="mt-4 iframe">
    <h1>예고편</h1>
    <iframe class="responsive-iframe" width="900rem" height="500rem"src="//www.youtube.com/embed/{{ movie.video_path }}" frameborder="0" allowfullscreen></iframe>
  </div>

  <h1 class="mt-5">관련 영화</h1>
  <div class="d-flex justify-content-between">
    {% for same_movie in same_genres %}
    <a href="{% url 'movies:movie_detail' same_movie.id %}"><img class="selected-movie img-fluid card-img-top" style="" src="https://image.tmdb.org/t/p/w500/{{ same_movie.poster_path }}"></a>
    {% endfor %}
  </div>



{% endblock content %}
{% block script %}
<script>
  const form = document.querySelector('#like-form')
  form.addEventListener('submit', e => {
    e.preventDefault()
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const movieId = e.target.dataset.id
    axios({
      method:'post',
      headers: {'X-CSRFToken': csrftoken},
      url: `http://127.0.0.1:8000/movies/movie_selected/${movieId}/like/`,
    })
      .then(res => {
        const isLiked = res.data.liked
        const isLikeNumber = res.data.likeCount
        console.log(isLikeNumber)
        const heart = document.querySelector(`#heart-${movieId}`)
        const likeCount = document.querySelector(`#like-count-${movieId}`)
                    
        if (isLiked === true) { heart.setAttribute('style', 'color:red')}
        else { heart.setAttribute('style', 'color:black') }
        likeCount.innerText = isLikeNumber
      })
      .catch(error => {
        console.error(error)
      })
  })
</script>
{% endblock script %}