{% extends 'base.html' %}

{% block style %}
<style>
  .card-img-top {
      width: 100%;
      height: 30vw;
      object-fit: cover;
    }
    .selected-movie{
      transition: all 0.2s linear;
    }
    .selected-movie:hover{
      transform: scale(1.08);
    }

</style>
{% endblock style %}

{% block content %}
<div class="mt-5">

  <div class="text-center">
    <h1>어떤 빨래를 하시나요?</h1>
  
  <form id="select-form">
    {% csrf_token %}

    <h4>빨래 색상</h4>
    <div class="form-check form-check-inline">
      <input class="form-check-input color-check" type="radio" id="white" name="color" value="white">
      <label class="form-check-label" for="white">흰색</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input color-check" type="radio" id="black" name="color" value="black">
      <label class="form-check-label" for="black">검은색</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input color-check" type="radio" id="other" name="color" value="other">
      <label class="form-check-label" for="other">다른색</label>
    </div>
  </form>
  
  <form id="select-form">
    {% csrf_token %}

    <h4>세탁 모드</h4>
    <div class="form-check form-check-inline">
      <input class="form-check-input runtime-check" type="radio" id="short" name="runtime" value="short">
      <label class="form-check-label" for="short">빠름</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input runtime-check" type="radio" id="normal" name="runtime" value="normal">
      <label class="form-check-label" for="normal">보통</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input runtime-check" type="radio" id="long" name="runtime" value="long">
      <label class="form-check-label" for="long">느림</label>
    </div>
  </form>
  </div>
</div>


<br>
<br>
<br>


{% comment %} 추천 런드리 무비 {% endcomment %}

<h1 class="text-center mb-5">추천 런드리무비</h1>  

<div class="" id="show-movies">
  <div class="row mx-auto" id="create-or-delete">
  {% for movie in highscore_serializer %}
    <div class="mb-4 col-6 col-sm-6 col-md-4 col-lg-3">

      <div class="card" style="">
        
        <a class="" href="{% url 'movies:movie_detail' movie.id %}"><img class="selected-movie img-fluid card-img-top" style="" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"></a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
{% block script %}
<script>
  // 검색창에 검색했을때의 조건을 if문 안에 적으시오!!!!!!
  if (false) {

  }
  // 검색했을 경우에 ~~ 에 대한 검색 결과입니다. 라는 페이지를 보여줘야한다. 이에 대한 구상...
  

  else {

    let colorBtns = document.querySelectorAll('input[name="color"]')
    let runtimeBtns = document.querySelectorAll('input[name="runtime"]')

    document.addEventListener('input', (e) => {

      let selectedColor
      let selectedRuntime
      for (let c of colorBtns) {
        if (c.checked) {
          selectedColor = c.value
          break
          
        }
      }
      for (let r of runtimeBtns) {
        if (r.checked) {
          selectedRuntime = r.value
          break
        }
      }
      let color = selectedColor
      let runtime = selectedRuntime
      
      e.preventDefault()
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      let getTarget = e.target.getAttribute('name')
      
      if (getTarget === 'color' || getTarget === 'runtime') {

        axios({
          method:'post',
          headers: {'X-CSRFToken': csrftoken},
          url: `http://127.0.0.1:8000/movies/allmovie/`,
        })
          .then(res => {
            // 삭제
            const deleteDiv = document.getElementById('create-or-delete')
            deleteDiv.remove()

            // 생성
            let obj = document.getElementById("show-movies")

            let newDiv = document.createElement('div')
            let newNewDiv = document.createElement('div')

            newDiv.setAttribute('class', 'row mx-auto')
            newDiv.setAttribute('id', 'create-or-delete')
            obj.appendChild(newDiv)

            let movies
            // 문제 : 색상 선택 후 모드 선택 및 수정 시 정상작동 -> 이후 두 라디오 버튼이 선택된 상태에서 색상을 수정하면 결과가 변동되지 않음
            // 값은 제대로 들어오는 것 같은데 구현이 안됨 -> 모드를 먼저 누르고 색상누르면 작동 안됨
            // 해결방안 1: 선택 후 전송하는 버튼을 따로 만들어서 버튼을 누를 때 받은 값으로 알고리즘 작동시키기
            // 해결방안 2: getTarget이라는 변수 안에 들어오는 정보의 순서에 따라서 if문에 다르게 돌도록함
            
            if (color && runtime && getTarget === 'runtime') {
              console.log(color, runtime)
              console.log(runtime, color)
              
              if (runtime === 'long' && color === 'white') { movies = res.data.white_movie_serializer && res.data.long_movie_serializer }
              else if (runtime === 'normal' && color === 'white') { movies = res.data.white_movie_serializer && res.data.normal_movie_serializer }
              else if (runtime === 'short' && color === 'white') { movies = res.data.white_movie_serializer && res.data.short_movie_serializer }
              else if (runtime === 'long' && color === 'black') { movies = res.data.black_movie_serializer && res.data.long_movie_serializer }
              else if (runtime === 'normal' && color === 'black') { movies = res.data.black_movie_serializer && res.data.normal_movie_serializer }
              else if (runtime === 'short' && color === 'black') { movies = res.data.black_movie_serializer && res.data.short_movie_serializer }
              else if (runtime === 'long' && color === 'other') { movies = res.data.other_movie_serializer && res.data.long_movie_serializer }
              else if (runtime === 'normal' && color === 'other') { movies = res.data.other_movie_serializer && res.data.normal_movie_serializer }
              else if (runtime === 'short' && color === 'other') { movies = res.data.other_movie_serializer && res.data.short_movie_serializer }
              
            }
            if (runtime && color && getTarget === 'color') {
              if (color === 'white' && runtime === 'long') { movies = res.data.long_movie_serializer && res.data.white_movie_serializer }
              else if (color === 'white' && runtime === 'normal') { movies = res.data.normal_movie_serializer && res.data.white_movie_serializer }
              else if (color === 'white' && runtime === 'short') { movies = res.data.short_movie_serializer && res.data.white_movie_serializer }
              else if (color === 'black' && runtime === 'long') { movies = res.data.long_movie_serializer && res.data.black_movie_serializer }
              else if (color === 'black' && runtime === 'normal') { movies = res.data.normal_movie_serializer && res.data.black_movie_serializer }
              else if (color === 'black' && runtime === 'short') { movies = res.data.short_movie_serializer && res.data.black_movie_serializer }
              else if (color === 'other' && runtime === 'long') { movies = res.data.long_movie_serializer && res.data.other_movie_serializer }
              else if (color === 'other' && runtime === 'normal') { movies = res.data.normal_movie_serializer && res.data.other_movie_serializer }
              else if (color === 'other' && runtime === 'short') { movies = res.data.short_movie_serializer && res.data.other_movie_serializer }
            }
            
            // 1 개만 선택했을 시
            else {
              if (color === 'white' && !runtime) { movies = res.data.white_movie_serializer }
              else if (color === 'black' && !runtime) { movies = res.data.black_movie_serializer }
              else if (color === 'other' && !runtime) { movies = res.data.other_movie_serializer }
              else if (!color && runtime === 'long') { movies = res.data.long_movie_serializer }
              else if (!color && runtime === 'normal') { movies = res.data.normal_movie_serializer }
              else if (!color && runtime === 'short') { movies = res.data.short_movie_serializer }
            }



            
              movies.forEach( movie => {
              let div1 = document.createElement('div')
              let div2 = document.createElement('div')
              div1.setAttribute('class', 'mb-4 col-6 col-sm-6 col-md-4 col-lg-3')
              div2.setAttribute('class', 'card')
              newDiv.appendChild(div1)
              div1.appendChild(div2)

              let a = document.createElement('a')
              let img = document.createElement('img')
              div2.appendChild(a)
              a.appendChild(img)
              img.setAttribute('class', 'selected-movie img-fluid card-img-top')
              img.setAttribute('src', `https://image.tmdb.org/t/p/w500/${movie.poster_path}`)
              })

          })
          }
      
    })
}
  
</script>
{% endblock script %}