{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .menu-links-4{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-3{
    color: black;
  }
  .tip-img{
    width:100%;
  }

</style>
{% endblock style %}
{% block content %}
<img class="tip-img" src="{% static 'tip.png' %}" alt="이거 안나오면 굉장히 슬플텐데..">


<div class="mb-5 text-center">
  <a style="width:40%; max-width:20rem;" href="{% url 'movies:selected' %}" class="button-57 text-center" role="button"><span class="text"><i class="fa-solid fa-clapperboard fa-2xl"></i></span><span>영화 추천</span></a>
</div>


{% endblock content %}