{% extends 'base.html' %}
{% block style %}
<style>
  .menu-links-4{
    active: true;
  }
  .menu-links-1, .menu-links-2, .menu-links-3{
    color: black;
  }
</style>
{% endblock style %}
{% block content %}

<div class="mt-5">
  <h1 class="text-center">빨래 팁!</h1>
</div>
<br>
<br>
<br>
<div>
  <h1 class="fs-1 fw-bolder">Q1.</h1>
</div>

<br>
<br>
<br>

<div>
  <h1 class="fs-1 fw-bolder">Q2.</h1>
</div>

<br>
<br>
<br>

<div>
  <h1 class="fs-1 fw-bolder">Q3.</h1>
</div>

<br>
<br>
<br>

<div>
  <h1 class="fs-1 fw-bolder">Q4.</h1>
</div>

<br>
<br>
<br>

<div>
  <h1 class="fs-1 fw-bolder">Q5.</h1>
</div>
{% endblock content %}