{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
  {% block style %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inconsolata&display=swap');
    *{
      font-family: 'Amatic SC', cursive;
      font-family: 'Inconsolata', monospace;
    }
  </style>
  {% endblock style %}
</head>
<body>
  <div class="container">
    {% comment %} NavBar {% endcomment %}
    <img class="navbar-brand mx-auto img-fluid d-block" src="{% static 'LOGO.png'%}" alt="logo_img" style="width:340px;">
    
    <nav class="navbar navbar-expand-md bg-light">

      <div class="container-fluid">
        <div class="collapse navbar-collapse  d-flex justify-content-between" id="navbarTogglerDemo02">

          {% comment %} 메뉴들 {% endcomment %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active fs-5" aria-current="page" href="{% url 'movies:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'movies:selected' %}">추천모드</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'community:reviews' %}">세탁후기</a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link fs-5" href="{% url 'movies:tips' %}">세탁TIP</a>
            </li>
          </ul>

          {% comment %} 질문하기 {% endcomment %}
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>

          {% comment %} User 창 {% endcomment %}


        </div>
      </div>
    </nav>
    



    {% comment %} 
    <nav>
      {% if request.user.is_authenticated %}
      <h3><b>Hello, {{ user.username }}</b></h3>
      <a type="button" class="btn btn-outline-secondary" href="{% url 'accounts:profile' user.username %}">내 프로필<a>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-outline-danger">
      </form>
      <br>
      <a type="button" class="btn btn-outline-primary" href="{% url 'movies:index'%}">Movie</a>
      <a type="button" class="btn btn-outline-primary" href="{% url 'community:index'%}">Community</a>
      <a type="button" class="btn btn-outline-primary" href="{% url 'community:create'%}">New Review</a>

      
      <a type="button" class="btn btn-outline-primary" href="{% url 'movies:recommended'%}">Recommended</a>

      {% else %}
      <a href="{% url 'accounts:signup' %}">Signup</a>
      <a href="{% url 'accounts:login' %}">Login</a>
      <a href="{% url 'movies:index'%}">Movie</a>

      {% endif %}
    </nav>
    {% endcomment %}
    {% block content %}
    {% endblock content %}

    {% comment %} Footer {% endcomment %}
  <div class="footer">
    <div class="container-fluid text-center text-md-left footer-container">
      <div class="container p-4">
        <img class="mx-auto d-block" src="{% static 'footer_logo.png'%}" alt="logo_img" style="width:340px;">
        <div class="row d-flex justify-content-center">
          <div class="d-flex justify-content-center mt-3">
            <a class="text-decoration-none text-reset" href="https://github.com/Binzify"><h5 class="me-3"><strong>임상빈 | github.com/Binzify</strong></h5></a>
            <a class="text-decoration-none text-reset" href="https://github.com/qooktree1"><h5><strong>박종민 | github.com/qooktree1</strong></h5></a>
          </div>
        </div>
      </div>
      <div class="text-center p-3">
        <strong><a class="text-decoration-none text-dark" href="https://www.instagram.com/harry_jjun/">© SSAFY 7th. The King of Trex</a></strong>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/8591a8f1c6.js" crossorigin="anonymous"></script>
{% block script %}
{% endblock script %}



</html>
